---
- name: Create ssh directories
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/{{ item }}"
    state: directory
    mode: "0700"
  with_items:
    - .ssh
    - .ssh/github

- name: Update ~/.ssh/config
  ansible.builtin.copy:
    src: ssh/config
    dest: "{{ ansible_facts['env']['HOME'] }}/.ssh/config"
    mode: "0600"
