---
- name: Clone sorin-ionescu/prezto into ~/.zprezto
  ansible.builtin.git:
    repo: 'https://github.com/sorin-ionescu/prezto.git'
    dest: "{{ ansible_facts['env']['HOME'] }}/.zprezto"
    force: true

- name: Customize zprezto autosuggestions
  ansible.builtin.lineinfile:
    path: "{{ ansible_facts['env']['HOME'] }}/.zprezto/runcoms/zpreztorc"
    line: "  'autosuggestions'  \\\n  'syntax-highlighting' \\"
    insertafter: "^zstyle ':prezto:load' pmodule"

- name: Customize zprezto theme
  ansible.builtin.lineinfile:
    path: "{{ ansible_facts['env']['HOME'] }}/.zprezto/runcoms/zpreztorc"
    regexp: "^zstyle ':prezto:module:prompt' theme "
    line: "zstyle ':prezto:module:prompt' theme 'pure'"

- name: Create symlinks related to zsh
  ansible.builtin.file:
    src: "{{ ansible_facts['env']['HOME'] }}/.zprezto/runcoms/{{ item }}"
    dest: "{{ ansible_facts['env']['HOME'] }}/.{{ item }}"
    state: link
  with_items:
    - zlogin
    - zlogout
    - zpreztorc
    - zprofile
    - zshenv

- name: Update ~/.zshrc
  ansible.builtin.copy:
    src: zshrc
    dest: "{{ ansible_facts['env']['HOME'] }}/.zshrc"
    mode: "0644"
  notify: Suggest reloading zsh configuration
