name: Ansible Lint

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Run ansible-lint
      uses: ansible-actions/ansible-lint-action@v1.1.0
      with:
        target: ./
